.shelfSection {
  width: 100%;
  padding: 0  0 40px 0;
}

.shelfContainer {
  width: 100%;
  max-width: 1364px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.sliderWrapper {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  position: relative;
  min-height: 529px;
  overflow: hidden; 
  padding: 0px 0;  
  
  :global(.swiper) {
    padding: 0 5px; 
    margin: 0;
    overflow: visible; 
  }
  
  :global(.swiper-slide) {
    height: auto; 
  }
}

.emptyState {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f9f9f9;
  height: 529px;

  .emptyContent {
    color: #3442B5;
    font-family: sans-serif;
    
    span {
      font-size: 3rem;
      display: block;
      margin-bottom: 10px;
    }
    
    p {
      font-size: 1.2rem;
      font-weight: 600;
      
      strong {
        text-transform: uppercase;
        color: $color-primary-yellow;
      }
    }
  }
}

.loadingPlaceholder {
  text-align: center;
  transform: translateY(15em);
}
.loading {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #3442B5;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 32px;
    height: 32px;
  }

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }
}

:global(.swiper-pagination) {
  position: relative !important; 
  margin-top: 10px !important; 
  bottom: 0 !important;
  display: none;
}


:global(.swiper-pagination-bullet-active) {
    background: #3442B5; 
}


@media screen and (max-width: 1364px) {
  .shelfContainer {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1024px) {
  .arrow {
    display: none;
  }
  
  .shelfContainer {
    padding: 0px;
  }

  .sliderWrapper {
    padding-bottom: 20px; 
  }

  :global(.swiper-pagination) {
    display: block;
  }
}

.shelfContainer
:global(.swiper-wrapper) {
  padding: 1em 0;
}