
$color-benefit-gray: #9F9F9F;
$color-highlight-purple: #3019B2;
$color-white: #FFFFFF;
$color-border-light: #F0F0F0;
$color-primary-pink: #F6323E;
$color-primary-yellow: #FFC400;
$color-btn-see-all: #3F3F40;
$color-titles: #3442B5;
$infos-product-color: rgba(63, 63, 64, 1);
$color-dark-bg: #2A1D33;
$font-main: 'Poppins', sans-serif;
$font-secundary: "Outfit", sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$font-size-sm: 12px;
$max-width-container: 1280px;
$color-search-bg: #F6F5F2;
$color-placeholder: #9F9F9F;
$width-search: 630px;
$height-search: 48px;
$radius-search: 10px;
$size-icon-header: 32px;
$size-icon-box-header: 26px;
$width-logo: 139px;
$height-logo: 41px; 