.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link {
  font-family: $font-main;
  font-size: 15px;
  font-weight: $weight-bold; 
  color: $color-btn-see-all; 
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
}